
bin/Debug/CakeShopApp.exe
bin/Debug/MaterialDesignColors.dll
bin/Debug/MaterialDesignThemes.Wpf.dll
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/CakeShopApp.csproj.FileListAbsolute.txt
obj/Debug/CakeShopApp.csprojAssemblyReference.cache
obj/Debug/CakeShopApp.exe
obj/Debug/CakeShopApp_Content.g.i.cs
obj/Debug/CakeShopApp_MarkupCompile.i.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.g.i.cs
Properties/AssemblyInfo.cs
Properties/Resources.Designer.cs
Properties/Resources.resx
Properties/Settings.Designer.cs
Properties/Settings.settings
