
CakeShopApp/.vs/CakeShopApp/v16/.suo
CakeShopApp/CakeShopApp/Properties/AssemblyInfo.cs
CakeShopApp/CakeShopApp/Properties/Resources.Designer.cs
CakeShopApp/CakeShopApp/Properties/Resources.resx
CakeShopApp/CakeShopApp/Properties/Settings.Designer.cs
CakeShopApp/CakeShopApp/Properties/Settings.settings
CakeShopApp/packages/EntityFramework.6.2.0/.signature.p7s
CakeShopApp/packages/EntityFramework.6.2.0/content/net40/App.config.transform
CakeShopApp/packages/EntityFramework.6.2.0/content/net40/Web.config.transform
CakeShopApp/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
CakeShopApp/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.dll
CakeShopApp/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.dll
CakeShopApp/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.SqlServer.xml
CakeShopApp/packages/EntityFramework.6.2.0/lib/net40/EntityFramework.xml
CakeShopApp/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.dll
CakeShopApp/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.dll
CakeShopApp/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.SqlServer.xml
CakeShopApp/packages/EntityFramework.6.2.0/lib/net45/EntityFramework.xml
CakeShopApp/packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
CakeShopApp/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.dll
CakeShopApp/packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
CakeShopApp/packages/EntityFramework.6.2.0/tools/EntityFramework.psd1
CakeShopApp/packages/EntityFramework.6.2.0/tools/EntityFramework.psm1
CakeShopApp/packages/EntityFramework.6.2.0/tools/init.ps1
CakeShopApp/packages/EntityFramework.6.2.0/tools/install.ps1
CakeShopApp/packages/EntityFramework.6.2.0/tools/migrate.exe
CakeShopApp/packages/MaterialDesignColors.1.2.7/.signature.p7s
CakeShopApp/packages/MaterialDesignColors.1.2.7/images/MaterialDesignColors.Icon.png
CakeShopApp/packages/MaterialDesignColors.1.2.7/lib/net45/MaterialDesignColors.dll
CakeShopApp/packages/MaterialDesignColors.1.2.7/lib/net45/MaterialDesignColors.pdb
CakeShopApp/packages/MaterialDesignColors.1.2.7/lib/netcoreapp3.1/MaterialDesignColors.dll
CakeShopApp/packages/MaterialDesignColors.1.2.7/lib/netcoreapp3.1/MaterialDesignColors.pdb
CakeShopApp/packages/MaterialDesignColors.1.2.7/MaterialDesignColors.1.2.7.nupkg
CakeShopApp/packages/MaterialDesignThemes.3.2.0/.signature.p7s
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/MaterialDesignThemes.targets
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Black.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-BlackItalic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Bold.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-BoldItalic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Italic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Light.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-LightItalic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Medium.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-MediumItalic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Regular.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Thin.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-ThinItalic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Bold.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-BoldItalic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Italic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Light.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-LightItalic.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Regular.ttf
CakeShopApp/packages/MaterialDesignThemes.3.2.0/images/MaterialDesignThemes.Icon.png
CakeShopApp/packages/MaterialDesignThemes.3.2.0/lib/net45/MaterialDesignThemes.Wpf.dll
CakeShopApp/packages/MaterialDesignThemes.3.2.0/lib/net45/MaterialDesignThemes.Wpf.pdb
CakeShopApp/packages/MaterialDesignThemes.3.2.0/lib/net45/MaterialDesignThemes.Wpf.xml
CakeShopApp/packages/MaterialDesignThemes.3.2.0/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.dll
CakeShopApp/packages/MaterialDesignThemes.3.2.0/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.pdb
CakeShopApp/packages/MaterialDesignThemes.3.2.0/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.xml
CakeShopApp/packages/MaterialDesignThemes.3.2.0/MaterialDesignThemes.3.2.0.nupkg
CakeShopApp/packages/MaterialDesignThemes.3.2.0/tools/VisualStudioToolsManifest.xml
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/.signature.p7s
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/Icon.png
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/lib/net461/System.Configuration.ConfigurationManager.dll
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/lib/net461/System.Configuration.ConfigurationManager.xml
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/lib/netstandard2.0/System.Configuration.ConfigurationManager.dll
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/lib/netstandard2.0/System.Configuration.ConfigurationManager.xml
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/LICENSE.TXT
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/ref/net461/System.Configuration.ConfigurationManager.dll
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/ref/net461/System.Configuration.ConfigurationManager.xml
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/ref/netstandard2.0/System.Configuration.ConfigurationManager.dll
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/ref/netstandard2.0/System.Configuration.ConfigurationManager.xml
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/System.Configuration.ConfigurationManager.5.0.0.nupkg
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/THIRD-PARTY-NOTICES.TXT
CakeShopApp/packages/System.Configuration.ConfigurationManager.5.0.0/useSharedDesignerContext.txt
CakeShopApp/bin/Debug/MaterialDesignThemes.Wpf.xml
CakeShopApp/bin/Debug/MaterialDesignThemes.Wpf.pdb
CakeShopApp/bin/Debug/MaterialDesignThemes.Wpf.dll
CakeShopApp/bin/Debug/MaterialDesignColors.pdb
CakeShopApp/bin/Debug/MaterialDesignColors.dll
CakeShopApp/bin/Debug/CakeShopApp.pdb
CakeShopApp/bin/Debug/CakeShopApp.exe.config
CakeShopApp/bin/Debug/CakeShopApp.exe
.vs/CakeShopApp/v16/.suo
CakeShopApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
CakeShopApp/obj/Debug/App.baml
CakeShopApp/obj/Debug/App.g.cs
CakeShopApp/obj/Debug/App.g.i.cs
CakeShopApp/obj/Debug/CakeShopApp.csproj.CopyComplete
CakeShopApp/obj/Debug/CakeShopApp.csproj.CoreCompileInputs.cache
CakeShopApp/obj/Debug/CakeShopApp.csproj.FileListAbsolute.txt
CakeShopApp/obj/Debug/CakeShopApp.csproj.GenerateResource.cache
CakeShopApp/obj/Debug/CakeShopApp.csprojAssemblyReference.cache
CakeShopApp/obj/Debug/CakeShopApp.exe
CakeShopApp/obj/Debug/CakeShopApp.g.resources
CakeShopApp/obj/Debug/CakeShopApp.pdb
CakeShopApp/obj/Debug/CakeShopApp.Properties.Resources.resources
CakeShopApp/obj/Debug/CakeShopApp_MarkupCompile.cache
CakeShopApp/obj/Debug/CakeShopApp_MarkupCompile.i.cache
CakeShopApp/obj/Debug/CakeShopApp_MarkupCompile.i.lref
CakeShopApp/obj/Debug/CakeShopApp_MarkupCompile.lref
CakeShopApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CakeShopApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CakeShopApp/obj/Debug/MainWindow.baml
CakeShopApp/obj/Debug/MainWindow.g.cs
packages/MaterialDesignColors.1.2.7/.signature.p7s
packages/MaterialDesignColors.1.2.7/images/MaterialDesignColors.Icon.png
packages/MaterialDesignColors.1.2.7/lib/net45/MaterialDesignColors.dll
packages/MaterialDesignColors.1.2.7/lib/net45/MaterialDesignColors.pdb
packages/MaterialDesignColors.1.2.7/lib/netcoreapp3.1/MaterialDesignColors.dll
packages/MaterialDesignColors.1.2.7/lib/netcoreapp3.1/MaterialDesignColors.pdb
packages/MaterialDesignColors.1.2.7/MaterialDesignColors.1.2.7.nupkg
packages/MaterialDesignThemes.3.2.0/.signature.p7s
packages/MaterialDesignThemes.3.2.0/build/MaterialDesignThemes.targets
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Black.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-BlackItalic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Bold.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-BoldItalic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Italic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Light.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-LightItalic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Medium.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-MediumItalic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Regular.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-Thin.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/Roboto-ThinItalic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Bold.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-BoldItalic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Italic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Light.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-LightItalic.ttf
packages/MaterialDesignThemes.3.2.0/build/Resources/Roboto/RobotoCondensed-Regular.ttf
packages/MaterialDesignThemes.3.2.0/images/MaterialDesignThemes.Icon.png
packages/MaterialDesignThemes.3.2.0/lib/net45/MaterialDesignThemes.Wpf.dll
packages/MaterialDesignThemes.3.2.0/lib/net45/MaterialDesignThemes.Wpf.pdb
packages/MaterialDesignThemes.3.2.0/lib/net45/MaterialDesignThemes.Wpf.xml
packages/MaterialDesignThemes.3.2.0/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.dll
packages/MaterialDesignThemes.3.2.0/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.pdb
packages/MaterialDesignThemes.3.2.0/lib/netcoreapp3.1/MaterialDesignThemes.Wpf.xml
packages/MaterialDesignThemes.3.2.0/MaterialDesignThemes.3.2.0.nupkg
packages/MaterialDesignThemes.3.2.0/tools/VisualStudioToolsManifest.xml
CakeShopApp/obj/Debug/MainWindow.g.i.cs
